extends layout

block content
  h1 Mail Broadcaster
  p Welcome to Mail Broadcaster
  p Input your receiver below
  form(action="/users/mail", method="post")  
    input(type="text", name="email", placeholder="Masukan Email Penerima")
    br
    text(class="text") Pisahkan dengan , (koma) untuk mengirim ke beberapa email
    br
    input(type="text", name="subject", placeholder="Masukan Judul Pesan")
    br
    input(type="text", class="text-area" name="message", placeholder="Masukan Isi Pesan")
    br
    input(type="submit", value="Kirim")
