extends layout

block content
    h4 Selamat
    text Pesan telah dikirim kepada 
        b #{receiver} 
        text melalu email 
            b #{email}.
    br
    a(href="/home") Kirim pesan lagi.