extends layout

block content
    h2 Welcome #{name ? name : email}
    p You are login as 
        b=roleName
    br
    if github_id === 0
        br
        text You are not linked to 
            a(href="/services/auth/github") Github
        br

    else
        br
        img(src=photo)
        br
        h3= name
        text Username : #{username}
        br
        text Email : #{email}
        br
        text Github Account : 
            a(href=url, target="_blank", rel="noopener noreferrer") #{username}
        br
    
    br

    if roleName == "Super Admin"
        p
            b *Notes : Karena keterbatasaan waktu, untuk update hanya ada Rest API nya saja, untuk tampilan tidak sempat dibuat.

    table(border="1")
        thead
            tr
                td email
                td username
                td name
                td github url
                td photo
                if roleName == "Super Admin"
                    td action 
        each item in users
            tbody
                tr
                    td= item.email
                    td= item.username
                    td= item.name
                    td
                        a(href=item.url, target="_blank", rel="noopener noreferrer")= item.url
                    td
                        img(src=item.photo class="photo")
                    if roleName == "Super Admin"
                        td 
                            a(href="/services/delete?id=" + item.id) delete

    br
    a(href="/logout")
        button Logout
