extends layout

block content
  h4= message
  h1 Login
  form(action="/services/login", method="post")  
    input(type="email", name="email", placeholder="Email" class="email")
    input(type="password", name="password", placeholder="Password")
    br
    input(type="submit", value="Login")
  a(href="/services/auth/github") Login with Github Account
  text  or 
  a(href="/register") Register here.