extends layout

block content
    p Selamat bergabung 
        h3=username
    p Kamu adalah pengguna baru.
    p Tambahkan email dan password dibawah ini untuk Login
    br 
    form(action="/services/register/oauth", method="post")  
        input(type="email", name="email", placeholder="Email" class="email" required)
        br
        input(type="password", name="password", placeholder="Password" required)
        input(type="github_id", name="github_id", placeholder="Password", value=github_id, required hidden)
        br
        input(type="submit", value="Register")
    