extends layout

block content
  h5= message
  h1="Register"
  form(action="/services/register", method="post")  
    input(type="email", name="email", placeholder="Email" class="email" required)
    br
    input(type="password", name="password", placeholder="Password" required)
    br
    input(type="submit", value="Register")