body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.text {
  font-size: smaller;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-area {
  padding: 30px;
}
