body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

input {
  margin: 10px 10px 10px 0;
  padding: 5px;
}

img {
  height: 200px;
  width: 200px;
}

.photo {
  height: 40px;
  width: 40px;
}

td {
  padding: 5px;
}
